<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Online Course Tracker</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div *ngIf="appState == 'extend'">
  <div class="row">
    <div class="col-md-12">
      <button (click)="changeState('default')" class="button alert">Go Back</button>
    </div>  
  </div>  

<div *ngFor="let course of courses">
  <div *ngIf="course.$key == activeKey">
     <div class="row">
      <div class="col-md-5 col-md-offset-1">
          <h3>{{ course.name }}</h3>
          <p>{{ course.school }}</p>
          <p>Category: {{ course.category }}</p>
          <p>Status of Course: <!-- {{course.status }} --></p>
          <p>Description: <!-- {{ business.description }} --></p>
      </div>  
      <div class="col-md-5 col-md-offset-1">
          <h4>Course Info</h4>
          <ul>
             <li>MORE ...</li>
             <li>MORE ...</li>
             <li>MORE ...</li>
          </ul>
      </div>  
     </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="courses">
          <table class="table">
            <thead>
              <tr>
                <th>School</th>
                <th>Course Name</th>
                <th>Category</th>
                <th></th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor="let course of courses">
                <td>{{course.school}}</td>
                <td>{{course.name}}</td>
                <td>{{course.category}}</td>
                <td>
                  <button (click)="changeState('extend', course.$key)" class="btn btn-info">More</button>                  
                  <button class="btn btn-default">Edit</button>
                  <button class="btn btn-warning">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
</div>
<ul *ngFor="let course of courses">
  <li>{{ course.name }}</li>
</ul>
