<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Online Course Tracker</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="well">
  <div class="row">
    <div class="col-md-6">
      <button (click)="changeState('add')" class="btn btn-info">Add Course(s)</button>
    </div>
    <div class="col-md-6">
      <label> Filter Category
          <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
              <option value="All">All</option>
              <option *ngFor="let category of categories" value="{{category.name}}">{{ category.name }}</option>
          </select>
      </label>
    </div>
  </div>
</div>

<div *ngIf="appState == 'add'" class="row jumbotron">
  <div class="">
    <div class="col-md-10 col-md-offset-1">
      <h3>Add a Course</h3>
        <form (submit)="addCourse(
          school.value,
          name.value,
          url.value,
          category.value)">  
            <div class="row">
              <div class="col-md-6">
                <label> Course
                  <input type="text" placeholder="Course Name" #course>
                </label>
              </div>
              <div class="col-md-6">
                <label>Category
                  <select #category>
                    <option value="0">Select</option>
                    <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
                  </select>
                </label>
              </div>
            </div>       

              <div class="row">
                <div class="col-md-6">
                  <label>URL
                    <input type="text" placeholder="Years In Business" #url>
                  </label>
              </div>
              <div class="col-md-6">
                <label>Description
                  <textarea #description></textarea>
                </label>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                  <label>Status
                    <input type="text" placeholder="Years In Business" #status>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>Comments
                    <textarea #notes></textarea>
                  </label>
                </div>
            </div>


        </form>
    </div>
  </div>
</div>

<div *ngIf="appState == 'extend'" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button (click)="changeState('default')" class="button alert">Go Back</button>
    </div>
  </div>

  <div *ngFor="let course of courses">
    <div *ngIf="course.$key == activeKey">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ course.name }}</h3>
            </div>
            <div class="panel-body">
              <p>Platform: {{ course.school }}</p>
            <p>Category: {{ course.category }}</p>
            <p>Status: 60%</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%
                </div>
              </div>
            <p>Description: <!-- {{ business.description }} --></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Course Info.</h4>
            </div>
            <div class="panel-body">
              <ul>
                <li>MORE ...</li>
                <li>MORE ...</li>
                <li>MORE ...</li>
                <li>Share: ...</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="courses" class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>School</th>
                <th>Course Name</th>
                <th>Category</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courses">
                <td>{{ course.school }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.category }}</td>
                <td>
                  <button (click)="changeState('extend', course.$key)" class="btn btn-info">More</button>
                  <button (click)="showEdit(business)" class="btn btn-default">Edit</button>
                  <button (click)="deleteBusiness(business.$key)" class="btn btn-warning">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <h6> Check: </h6>
  <ul *ngFor="let course of courses">
    <li>{{ course.name }}</li>
  </ul>
</div>
