<navbar></navbar>

<addform></addform>

<editform></editform>

<extendsection></extendsection>

<!-- Table of Courses Start -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="courses" class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>School</th>
                <th>Course Name</th>
                <th>Category</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courses">
                <td>{{ course.school }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.category }}</td>
                <td>
                  <button (click)="changeState('extend', course.$key)" class="btn btn-info">More</button>                  
                  <button (click)="showEdit(course)" class="btn btn-default">Edit</button>
                  <button (click)="deleteCourse(course.$key)" class="btn btn-warning">Delete</button>                  
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<!-- Table of Courses Ends -->

<!--
  <div class="jumbotron">
    <h6> Check: </h6>
    <ul *ngFor="let course of courses">
      <li>{{ course.name }}</li>
    </ul>
  </div>
-->