<!--<login></login>-->
<div>
  <span>User Details</span>
</div>

<section *ngIf=="isAuth">

  <h3 *ngIf="false">Choose your Federated Identity Provider</h3>

  <div *ngIf="false">

    <button md-raised-button (click)="login('google')">
      <img width="30" src="google-logo.png" />Use My Google Account
    </button>

    <button md-raised-button (click)="login('facebook')">
      <img width="30" src="facebook-logo.png" />Use My Facebook Account
    </button>

    <button md-raised-button (click)="login('twitter')">
      <img width="30" src="twitter-logo.png" />Use My Twitter Account
    </button>

    <button md-raised-button (click)="login('github')">
      <img width="30" src="github-logo.png" />Use My Github Account
    </button>

  </div>

  <div *ngIf="true">
     <div>
        <img [src]="user.avatar || 'avatar.png'">
        <p>{{ user.name }}</p>
        <p>{{ user.email || '(no email)' }}</p>
     </div>
     <img md-card-image src="md-banner.jpg">
     <div>
        <p>You are logged in using <strong>{{ user.provider }}</strong></p>
     </div>
     <div>
       <button md-raised-button (click)="logout()">
         Logout
       </button>
     </div>
  </div>


</section>


<slideshow></slideshow>