body { 
    padding-top: 20px;    
}
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

#myCarousel {
-webkit-box-shadow: 2px 5px 75px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 75px 9px rgba(0,0,0,0.75);
box-shadow: 2px 5px 75px 9px rgba(0,0,0,0.75);
}