<login></login>

<hr />

<div>
  <span>User Details</span>
</div>

<div>

  <h3>Choose your Identity Provider</h3>

  <div>

    <button>
      <img width="30" src="../../../assets/images/Google-logo-2015-G-icon.png" />Use My Google Account
    </button>

<!--
    <button>
      <img width="30" src="facebook-logo.png" />Use My Facebook Account
    </button>

    <button>
      <img width="30" src="twitter-logo.png" />Use My Twitter Account
    </button>

    <button>
      <img width="30" src="github-logo.png" />Use My Github Account
    </button>
    -->

  </div>

  <div>
     <div>
        <!--<img >-->
        <!--<p>{{ user.name }}</p>
        <p>{{ user.email }}</p> -->
        <!--|| '(no email)' -->
     </div>
     <!--<img md-card-image src="md-banner.jpg">-->
     <div>
        <!--<p>You are logged in using <strong>{{ user.provider }}</strong></p>-->
     </div>
     <div>
       <button>
         Logout
       </button>
     </div>
  </div>


</div>

<!--<slideshow></slideshow>-->
