<addform></addform>
<router-outlet></router-outlet>

<!-- EDIT FORM START -->
<div *ngIf="appState == 'edit'" class="row">
     <div class="col-md-10 col-md-offset-1 courses-table-bg3">
          <p>
               <button (click)="changeState('default')" class="btn btn-warning" style="float:right;"> X </button>
          </p>
          <h3>Edit Course(s)</h3>
          <form (submit)="updateCourse()">
               <div class="form-group">
                    <label>School: </label>
                    <input class="form-control" type="text" [(ngModel)]="activeSchool" name="activeSchool" placeholder="Course Name" #school>
               </div>
               <div class="form-group">
                    <label> Course: </label>
                    <input class="form-control" type="text" [(ngModel)]="activeName" name="activeName" placeholder="Course Name" #name>
               </div>
               <div class="form-group">
                    <label>Category: </label>
                    <select [(ngModel)]="activeCategory" name="activeCategory" class="form-control" #category>
            <option value="0">Select</option>
            <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
          </select>
               </div>
               <div class="form-group">
                    <label>URL: </label>
                    <input class="form-control" type="text" [(ngModel)]="activeUrl" name="activeUrl" placeholder="Course URL" #url>
               </div>
               <div class="form-group">
                    <label>Description: </label>
                    <textarea class="form-control" #description></textarea>
               </div>
               <div class="form-group">
                    <label>Course Status</label>
                    <select [(ngModel)]="activeStatus" name="activeStatus" class="form-control" #status>
            <option value="0">Select</option>
            <option *ngFor="let status of statuses" value="{{ status.name }}">{{ status.name }}</option>
          </select>
               </div>
               <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" #notes></textarea>
               </div>
               <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Submit">
                    <button (click)="changeState('default')" class="btn btn-warning">Cancel</button>
               </div>
          </form>
     </div>
</div>
<!-- EDIT FORM ENDS -->

<!-- EXTEND SECTION Starts -->
<div *ngIf="appState == 'extend'" class="container-fluid courses-table-bg2">
     <div class="row">
          <div class="col-md-12">
               <p>
                    <button (click)="changeState('default')" class="btn btn-warning" style="float:right; margin-bottom: 10px;"> X </button>
               </p>
          </div>
     </div>
     <div *ngFor="let usercourse of usercourses">
          <div *ngIf="usercourse.$key == activeKey">
               <div class="row">
                    <div class="col-md-6">
                         <div class="panel panel-primary">
                              <div class="panel-heading">
                                   <h3 class="panel-title">{{ usercourse.name }}</h3>
                              </div>
                              <div class="panel-body">
                                   <p>Platform: {{ usercourse.school }}</p>
                                   <p>Category: {{ usercourse.category }}</p>
                                   <p>Status: {{ usercourse.status }}</p>
                                   <div class="progress">
                                        <div *ngIf="usercourse.status == 'Not started'" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                                        <div *ngIf="usercourse.status == '0%-25%'" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">25%</div>
                                        <div *ngIf="usercourse.status == '25%-50%'" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                        <div *ngIf="usercourse.status == '50%-75%'" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">75%</div>
                                        <div *ngIf="usercourse.status == '75%-99%'" class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">99%</div>
                                        <div *ngIf="usercourse.status == 'Finished'" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-6">
                         <div class="panel panel-info">
                              <div class="panel-heading">
                                   <h4 class="panel-title">Course Info.</h4>
                              </div>
                              <div class="panel-body">
                                   <ul>
                                        <li>
                                             <p>Description:
                                                  <!-- {{ usercourse.description }} -->
                                             </p>
                                        </li>
                                        <li>Reviews</li>
                                        <li>Share: ...</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- EXTEND SECTION ENDS -->

<!-- Table of Courses Start -->
<div class="container-fluid courses-table-bg">
     <div class="row">
          <div class="col-md-12">
               <div *ngIf="usercourses" class="table-responsive">
                    <table class="table table-striped">
                         <thead>
                              <tr>
                                   <th>School</th>
                                   <th>Course Name</th>
                                   <th>Category</th>
                                   <th>Topic</th>
                                   <th>Status</th>
                                   <th>Review</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let usercourse of usercourses">
                                   <td>{{ usercourse.school }}</td>
                                   <td>{{ usercourse.name }}</td>
                                   <td>{{ usercourse.category }}</td>
                                   <td>Topic <!-- {{ usercourse.topic }} --></td>
                                   <td>{{ usercourse.status }}</td>
                                   <td>
                                      <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span> 
                                      <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                      <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                      <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                      <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                      <!-- {{ usercourse.reviews }} -->
                                   </td>
                                   <td style="float: right;">
                                        <button (click)="changeState('extend', usercourse.$key)" class="btn btn-info">More</button>
                                        <button (click)="showEdit(usercourse)" class="btn btn-warning">Edit</button>
                                        <button (click)="deleteUserCourse(usercourse.$key)" class="btn btn-danger">Delete</button>
                                   </td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
</div>
<!-- Table of Courses Ends -->

<!-- <testing></testing> -->
<div class="jumbotron" *ngIf="auth.authenticated()">
     <h6> Check: </h6>
     <ul *ngFor="let usercourse of usercourses">         
          <li>{{ usercourse.name }}</li>
          <li>eLearning Platform: {{ usercourse.school }}</li>
          <li>Category: {{ usercourse.category }}</li>
          <li>Topic: <!--{{ usercourse.topic }} --></li>          
          <li>Status: {{ usercourse.status }}</li>
     </ul>
</div>
