<div id="footer">
<!--footer start from here-->       
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <div class="logofooter">Online Course Tracker Logo</div>
                <p>Build the life you imagine through online learning. Join more than 14 million students on the world’s largest online learning marketplace.</p>
                <p><i class="fa fa-map-pin"></i> 210, Address Address Address, Markham, Ontario, Canada</p>
                <p><i class="fa fa-phone"></i> Phone (India) : +1 905 246 8998</p>
                <p><i class="fa fa-envelope"></i> E-mail : info@memberclouds.com</p>                
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">GENERAL LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Careers</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms &amp; Conditions</a></li>
                    <li><a href="#"> Insights, Ideas, and Stories </a></li>
                    <li><a href="#"> Clients and Sponsors</a></li>
                    <li><a href="#"> Case Studies</a></li>
                    <li><a href="#"> Frequently Asked Questions</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">LATEST POST</h6>
                <div class="post">
                    <p>Ready to master some skills?</p>
                    <p>Take your career to the next level!</p>
                    <p>What course will your life take?</p>
                    <p>Own your future by learning new skills online</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <div class="fb-page" data-href="https://www.facebook.com/memberclouds" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/memberclouds"><a href="https://www.facebook.com/memberclouds">MemberClouds Facebook</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p>MemberClouds © 2016 - All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="bottom_ul">                        
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

